flask
requests
pandas
numpy
scikit-learn
python-dotenv
plotly
matplotlib
seaborn
wordcloud
PyPDF2
apscheduler
sentence-transformers
beautifulsoup4
lxml
python-jobspy
chromadb
huggingface_hub
transformers
torch
