flask
requests
pandas
numpy
scikit-learn
python-dotenv
plotly
matplotlib
seaborn
nltk
wordcloud
PyPDF2
apscheduler
tweepy
selenium
undetected-chromedriver
sentence-transformers
beautifulsoup4
lxml
python-jobspy
